<div class="content">
    <p class="paragraph">
      Bienvenue sur votre tableau de bord. Cette application a été développée dans le but de vous aider à gérer vos tâches quotidiennes et de me permettre de vous montrer mes compétences en Angular et en Symfony.
      Grâce à IDRecette, fini de vous demander ce que vous allez manger cette semaine ou ce soir.
      L'application vous propose des recettes en fonction de vos goûts et de vos allergies.
      Il vous suffit de sélectionner le nombre de recettes que vous désirez et le tour est joué.
    </p>
  </div>
  
<app-navbar></app-navbar>