<div class="icon-bar">
    <a href="/form">
        <img src="assets/images/accueil.png" alt="iconAcceuil" class="icon">
    </a>
    <a href="/recettes">
        <img src="assets/images/fourchette.png" alt="iconRecette" class="icon">
    </a>
    <a href="/list">
        <img src="assets/images/liste-de-controle.png" alt="iconList" class="icon">
    </a>
    <a href="/account" (click)="logout()">
        <img src="assets/images/avatar-de-lutilisateur.png" alt="iconAccount" class="icon">
    </a>
</div>
