<main class="login-container">
    <section class="login-header">
      @if (errorLogin) {
      <div class="error-login">
        {{ errorLogin }}
      </div>
      }
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h1 class="login-title">{{ title }}</h1>
        <div class="input-container">
          <input
            type="text"
            name="email"
            id="email"
            class="input-field"
            formControlName="email"
            required
            placeholder="{{ placeholderMail }}"
          />
  
          @if (loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched) {
          <div class="error-message">
            @if (loginForm.get('email')?.errors?.['required']) {
            <p class="error-text">L'email est requis</p>
            } @if (loginForm.get('email')?.errors?.['pattern']) {
            <p class="error-text">L'email n'est pas valide</p>
            }
          </div>
          }
  
          <input
            type="password"
            name="password"
            formControlName="password"
            id="password"
            class="input-field2"
            required
            placeholder="{{ placeholderPassword }}"
          />
  
          @if (loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched) {
          <div class="error-message">
            @if (loginForm.get('password')?.errors?.['required']) {
            <p class="error-text">Le mot de passe est requis</p>
            }
            @if (loginForm.get('password')?.errors?.['securePassword']) {
              <div class="error-text">
                Le mot de passe n'est pas au bon format. Assurez-vous qu'il respecte les critères suivants :
                <ul>
                  <li>Au moins 8 caractères</li>
                  <li>Une majuscule (A-Z)</li>
                  <li>Un chiffre (0-9)</li>
                  <li>Un caractère spécial (par exemple, &#64;, #, $, etc.)</li>
                </ul>
              </div>              
            }
          </div>
          }
        </div>
        <button class="submit-button">{{ button }}</button>
        <p class="account-prompt">
          Vous n'avez pas de compte ?
          <a class="signup-link" [routerLink]="['/register']">{{ signUp }}</a>
        </p>
      </form>
    </section>
  </main>