<main>
  <div class="container">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="menuCount">Nb de menu</label>
        <div class="counter">
          <button type="button" class="counter-button" (click)="decrement()" [disabled]="menuCount <= 0">
            -
          </button>
          <div class="menu-display">{{ menuCount }}</div>
          <button type="button" class="counter-button" (click)="increment()">
            +
          </button>
        </div>
      </div>
      <button type="submit" class="btn-validate" [disabled]="recipeForm.invalid">
        Valider
      </button>
    </form>
  </div>
  <app-navbar></app-navbar>
</main>
